:root {
    --bg-color: #21295C;
    --second-bg-color: #1B3B6F;
    --text-color: #F2E7CF;
    --main-color: #1C7293;
    --secondary-color:  #1C7293;
}

header {
    background-image: linear-gradient(to right, #21295C, #1B3B6F);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 600;
    cursor: default;
    margin-left: 2rem;
}

nav a {
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    display: inline;
    font-weight: 1.7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: .3s;
    text-decoration: none;

}

nav a:hover, nav a:active {
    color: var(--text-color);
}

body {
    background-image: linear-gradient(to right, #1B3B6F, #1C7293); 
    color: var(--text-color);
}

.itinerary-head, .excursions-head, .map-head, .weather-head, .gallery-head {
    background-image: linear-gradient(to right, #1C7293, #1B3B6F);
}

h1 {
    text-align: center;
}